* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(143, 193, 227, 0.6),
      rgba(143, 193, 227, 0.6)
    ),
    url(../../image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* Photo by v2osk: "https://unsplash.com/@v2osk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"  */
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
}

.panel {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  max-height: 100vh;
  padding: 30px 0;
  align-items: flex-start;
  overflow: scroll;
}

.panel__form {
  max-height: 50%;
}

.panel__excursions {
  width: 70%;
  max-height: min-content;
}

.excursions {
  display: flex;
  flex-wrap: wrap;
}

.excursions__item {
  border: 1px solid #bbb;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: 400px;
  max-height: max-content;
  /*width: calc(50% - 20px);*/

  background-color: rgba(247, 249, 251, 0.5);
  box-shadow: 2px 11px 15px 7px rgba(0, 0, 0, 0.11);
}

.excursions__description {
  padding-top: 20px;
  padding-bottom: 20px;
}

.panel__form {
  background-color: rgba(247, 249, 251, 0.7);
  box-shadow: 2px 11px 15px 7px rgba(0, 0, 0, 0.11);
  padding: 20px;
  width: 30%;
}

.uploader,
.order {
  border-bottom: 1px solid #bbb;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.summary__item {
  border: 2px solid rgba(143, 193, 227, 1);
  padding: 1rem;
  margin-bottom: 5px;
}

.summary__btn-remove {
  align-self: flex-end;
}

.summary__btn-remove {
  margin-left: 20px;
  border: 1px solid black;
  padding-right: 4px;
  padding-left: 4px;
}

.btn {
  height: 30px;
  width: 150px;
  margin: 1rem;
  border-radius: 8px;
  background-color: rgba(143, 193, 227, 1);
  transition: all 1s ease-in;
}

.btn:hover,
.btn:active {
  background-color: rgba(247, 249, 251, 1);
}
